body{
    background-color: cornsilk;
}
td,tr {
    border: 1px solid black;
    padding: 15px;
    background-color: lightblue;
    text-align: center;
}
td:hover{
    background-color: cornflowerblue;
    box-shadow: 1s;
}
h1{
    color: lightblue;
    
}
button{
    background-color: lightblue;
    padding: 10px;
    border: transparent;
    color: blueviolet;
}
button:hover{
    background-color: cornflowerblue;
    color: darkblue;
}
th{
    border: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th:hover{
    background-color: cornflowerblue;
}